@model Shop_Belosludtseva.Data.Models.Items

@{
    ViewBag.Title = "Удаление предмета";
}

<h2>Удаление предмета</h2>

<div class="alert alert-warning">
    <h4>Вы уверены, что хотите удалить этот предмет?</h4>
</div>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Описание</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Цена</dt>
        <dd class="col-sm-10">@Model.Price ₽</dd>

        <dt class="col-sm-2">Категория</dt>
        <dd class="col-sm-10">@Model.Category?.Name</dd>

        <dt class="col-sm-2">Изображение</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Img))
            {
                <img src="~/img/@Model.Img" alt="@Model.Name" style="max-width: 200px;" />
            }
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="List" class="btn btn-secondary">Отмена</a>
    </form>
</div>