@using Shop_Belosludtseva.Data.ViewModell

@model VMItems

@{
    Layout = "_Layout";
}

<div>
    <select onChange="SelectCategory(this)">
        <option value="0">Выбрать ...</option>
        @foreach (var Category in Model.Categories)
        {
            if (Category.Id == Model.SelectCategory)
            {
                <option selected="selected" value="@Category.Id">@Category.Name</option>
            }
            else
            {
                <option value="@Category.Id">@Category.Name</option>
            }
        }
    </select>
    <script>
        function SelectCategory(sender) {
            window.location = "/Items/List?id=" + sender.value;
        }
    </script>
</div>

<h2>Все предметы</h2>

@foreach (var item in Model.Items)
{
    if (item.Category.Id == Model.SelectCategory || Model.SelectCategory == 0)
    {
        <div class="item">
            <img src="@item.Img" />
            <div class="data">
                <h3>Модель: @item.Name</h3>
                <div>Цена: @item.Price.ToString("c")</div>
                <div>Категория: @item.Category.Name</div>
                <div>Описание: @item.Description</div>
            </div>
        </div>
    }
}